@model CreateUserRequest

@*  *@
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.6.0.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.3/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.0/jquery.validate.unobtrusive.min.js"></script>


@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

<form asp-action="CreateUser" asp-controller="UserManagement" enctype="multipart/form-data" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label for="FirstName">First Name</label>
        <input asp-for="FirstName" class="form-control" placeholder="Enter first name" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="LastName">Last Name</label>
        <input asp-for="LastName" class="form-control" placeholder="Enter last name" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Email">Email</label>
        <input asp-for="Email" class="form-control" placeholder="Enter email address" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Password">Password</label>
        <input asp-for="Password" class="form-control" placeholder="Enter new password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="UserRole">User Role</label>
        <select asp-for="UserRole" class="form-control">
            <option value="Lecturer">Lecturer</option>
            <option value="Programme Coordinator">Programme Coordinator</option>
            <option value="Academic Manager">Academic Manager</option>
            <option value="HR">HR</option>
        </select>
        <span asp-validation-for="UserRole" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>