@model LecturerClaimRequest

@{
    ViewBag.Title = "Submit Claim";
}

<h2>Submit Claim for Hours Worked</h2>

<!-- Reference: https://www.w3schools.com/html/html_forms.asp -->
<form asp-action="Index" asp-controller="LecturerClaim" enctype="multipart/form-data" method="post" >

    <div class="form-group">
        <label for="HoursWorked">Hours Worked</label>
        <input asp-for="HoursWorked" class="form-control" placeholder="Enter hours worked" />
        <span asp-validation-for="HoursWorked" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="HourlyRate">Hourly Rate</label>
        <input asp-for="HourlyRate" class="form-control" placeholder="Enter hourly Rate" />
        <span asp-validation-for="HoursWorked" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label>Selected Documents</label>
        <div class="form-control" id="selectedFiles"></div>
    </div>
    <div class="form-group">
        <label for="SupportingDocuments">Supporting Documents</label>
        <input type="file" id="fileUpload" name="SupportingDocuments" class="form-control" multiple />
        <span asp-validation-for="SupportingDocuments" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit Claim</button>
</form>

<script>
    document.getElementById('fileUpload').addEventListener('change', function(event) {
        var files = event.target.files;
        var output = document.getElementById('selectedFiles');
        for (var i = 0; i < files.length; i++) {
            var fileItem = document.createElement('p');
            fileItem.textContent = files[i].name;
            output.appendChild(fileItem);
        }
    });
</script>
