@model ClaimListResultModel

@{
    ViewBag.Title = "Track Claims";
}

<div class="container mt-5">
    <h2 class="mb-4">Track Submitted Claims</h2>

    <!-- Reference: https://www.w3schools.com/html/html_tables.asp -->
    <table class="table table-bordered">
        <thead class="thead-light">
            <tr>
                <th>Hours Worked</th>
                <th>Hourly Rate</th>
				<th>Payout Requested</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var claim in Model.LecturerClaims)
            {
                <tr>
                    <td>@claim.HoursWorked</td>
                    <td>@claim.HourlyRate</td>
                    <td>R @claim.ExpectedPayout</td>
                    <td> @claim.Status </td>
                </tr>
            }
        </tbody>
    </table>
</div>

